#gallery {
  position: relative;
  padding: 80px 0 120px;
  background: url("/image/sokroma/sokroma-bg.png") center no-repeat;
  background-size: cover;
  z-index: 99;
}

#gallery:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(4, 5, 7, 0.85);
  z-index: -1;
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 37px 20px;
  margin-bottom: 60px;
}

.gallery__img {
  outline: 3px solid rgba(228, 197, 146, 1);
  border-radius: 8px;
  overflow: hidden;
}

.gallery__img > img {
  display: block;
}
