#advantages {
  padding: 80px 0 60px;
  background: rgba(249, 249, 249, 1);
}

.advantages__title {
  margin-bottom: 40px;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: rgba(208, 176, 124, 1);
}

.advantages__subtitle {
  margin-bottom: 43px;
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: rgba(208, 176, 124, 1);
}

.advantages__card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
  list-style-type: none;
}

.advantages__item {
  flex-basis: 24%;
}

.advantages__item img {
  display: block;
  margin: 0 auto;
}

.advantages__header {
  margin: 28px 0 8px;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: rgba(29, 29, 31, 1);
}

.advantages__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgba(103, 103, 104, 1);
}
